<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div class="form-card">
    <form action="/notes/<%= result[0].id %>?_method=PATCH" method="post">
       <label >Title</label> 
       <input type="text" name="title" value="<%= result[0].title %>" required> 
       <label>Content</label>
        <textarea name="content" rows="10" cols="20"><%= result[0].content %></textarea><br><br>
        <button>Save Changes</button>     
    </form>
    </div>
</body>
</html>